@media all {
  body {
    font-size: 12pt;
    font-family: Arial;
  }
  body #header {
    width: calc(100vw - 10em - 18px);
    height: 3em;
    font-size: 16pt;
    padding: 5em;
    border: solid 1px black;
  }
  body #content {
    padding: 5em;
    border: solid 1px black;
  }
  body #footer {
    padding: 5em;
    border: solid 1px black;
  }
}
