<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Name}} | {{.i18n.Tr "service"}}</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css"/>
    <link rel="stylesheet" type="text/css" href="/style/doc.css"/>
</head>
<body>
    <div id="header">
        <h1>{{.Name}}</h1>
    </div>
    <div id="toc">
        {{template "topic" .Toc}}
    </div>
    <div id="content">
        {{.Data}}
    </div>
    <div id="footer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusantium dolorum repellendus mollitia eius, officia eaque inventore ipsa eligendi iusto iste, cumque laudantium dolore doloremque facere culpa temporibus id provident!
    </div>
</body>
</html>